@file:Suppress("unused")
package {{packageName}}.infrastructure

import java.lang.RuntimeException

public class ApiException(message: String, val body: String?, val status: Int, val headers: Map<String, List<String>>) : RuntimeException(message)